# Ignore CSV files
*.csv

# Ignore Excel files
*.xlsx

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore log files
*.log

# Ignore other temporary files
*.tmp

# Ignore environment files
.env